{% load static %}

<div class="container-xl">
    <div class="footer-inner">
        <div class="row d-flex align-items-center gy-4">
            <!-- copyright text -->
            <div class="col-md-4">
                <span class="copyright">Made With ❤️ By <a href="https://github.com/Mr-Ak-100/">Mr.Ak</a></span>
            </div>

            <!-- social icons -->
            <div class="col-md-4 text-center">
                <ul class="social-icons list-unstyled list-inline mb-0">
                    {% include 'includes/social_icons.html' %}
                </ul>
            </div>

            <!-- go to top button -->
            <div class="col-md-4">
                <a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>بازگشت به بالا</a>
            </div>
        </div>
    </div>
</div>